#item-detail-container {
    width: 1400px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.362);

    #item-detail {
        display: flex;
        
        #portada {
            width: 50%;
       }
    }
  
}

#card-img-top{
    width: 100px;
    height: 100px;
}
