#item-detail-container {
    width: 500px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.362);

    #item-detail {
        display: flex;
        
        #portada {
            width: 50%;
       }
    }
  
}


