#counter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(219, 114, 144, 0.665);
    backdrop-filter: blur (4 px);
    margin: 10px;
    -webkit-backdrop-filter: blur(4px);
    width: 200px;
    height: 160px;
    
    }