.counter-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(129, 129, 214, 0.616);
backdrop-filter: blur (4 px);
margin: 10px;
-webkit-backdrop-filter: blur(4px);
width: 200px;
height: 150px;
font-size: 15px;
}
.counter-box-h1{
    font-size: 20px;
    color: brown;
}
.Cards{
    
    background-color: aqua;
}


